<div class="cep-explanation">
  <div class="title">Consulta CEP</div>
  <div class="description">
    <span>Este exercício tem como base fazer várias requisições para a API de forma síncrona.</span> <br>
    Para confirmar que as requisições estão sendo feitas de forma síncrona (uma de cada vez), basta abrir a aba Network ao inspecionar a página.
  </div>
  <div class="orientation">
    Coloque 5 ceps abaixo e verifique quais são as informações completas de todos eles:
  </div>
</div>

<form class="cep-information">
  <div class="row">
    <div class="cep-container col s12 m5 l3" *ngFor="let index of formsAmmount">
      <div class="cep-item card">
        <div class="cep-input">
          <i class="material-icons prefix" *ngIf="cepsInformations[index]">check</i>
          <i class="material-icons prefix" *ngIf="cepsInformations[index] === null">close</i>
          <input type="text" [(ngModel)]="ceps[index]" [name]="'cep-form-'+index"  class="validate" required>
        </div>
        <div class="card-content" *ngIf="cepsInformations[index]">
          <span class="card-title">{{cepsInformations[index].cep}}</span>
          <span>Rua: </span>{{cepsInformations[index].street}}<br>
          <span>Bairro: </span>{{cepsInformations[index].neighborhood}}<br>
          <span>Cidade: </span>{{cepsInformations[index].city}}<br>
          <span>Estado: </span>{{cepsInformations[index].state}}<br>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn waves-effect waves-light" (click)="getAllInfomationAboutCeps()">Enviar</button>
  </div>
</form>