<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo right">Kukac</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/cep">Consulta CEP</a></li>
        <li><a href="/palindromes">Palíndromos</a></li>
        <li><a href="/vehicles">Veículos</a></li>
        <li><a href="/money">Compra</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/cep">Consulta CEP</a></li>
  <li><a href="/palindromes">Palíndromos</a></li>
  <li><a href="/vehicles">Veículos</a></li>
  <li><a href="/money">Compra</a></li>
</ul>